<section class="s-about"  id="o-nas">
    <div class="wrapper">
        <header class="s-about__header">
            <h2>О нас</h2>
        </header>
        <div class="s-about__content">

            <div class="s-about__content-left"><img src="../static/irina.jpg" title="Ирина Жукова, дизайнер. Основатель АRTКомната, член Союза дизайнеров России" alt="Ирина Жукова" />
                <strong>Ирина Жукова</strong>
                <span>Арт-директор , руководитель и основатель АRTКомната, член Союза дизайнеров России</span>
            </div>
            <div class="s-about__content-right">
                <p>
                    АRTКомната - творческий проект дизайнера Ирины Жуковой.
                    Создан более 15 лет назад, чтобы объединить команду профессионалов, воплощающую креативные идеи в жизнь.
                    Мы предлагаем широкий спектр услуг в области дизайна интерьеров.
                    От зарождения идеи до ее реализации. Считаем, что каждый создаваемый интерьер должен подходить
                    внутреннему миру заказчика, его привычному образу жизни.
                </p>

            </div>
        </div>
    </div>
</section>