<section class="s-kontakty">
    <header class="s-kontakty__header">
        <h2>Наши контакты</h2>
    </header>
    <div class="s-kontakty__content">
        <p>Студия и Шоу-рум:</p>
    </div>
</section>