<section class="s-magazin" id="magazin">
    <div class="wrapper">
        <header class="s-magazin__header">
            <h2>Магазин</h2>
        </header>

        <div class="s-magazin__subheader">Материалы</div>

        <div class="s-magazin__list">

            <div class="s-magazin__item">
                <a href="./cornices-and-moldings">
                    <div class="s-magazin__item-title">Карнизы и молдинги</div>
                    <div class="s-magazin__item-border"></div>
                    <img src="../static/cornices-and-moldings.png" alt="Карнизы и молдинги" />
                </a>
            </div>

            <div class="s-magazin__item">
                <a href="./interior-paints-and-decorative-plasters">
                    <div class="s-magazin__item-title">Краски и штукатурки</div>
                    <div class="s-magazin__item-border"></div>
                    <img src="../static/interior-paints-and-decorative-plasters.png" alt="Краски и штукатурки" />
                </a>
            </div>

            <div class="s-magazin__item">
                <a href="./wallpapers">
                    <div class="s-magazin__item-title">Интерьерные обои</div>
                    <div class="s-magazin__item-border"></div>
                    <img src="../static/wallpapers.png" alt="Интерьерные обои" />
                </a>
            </div>

            <div class="s-magazin__item">
                <a href="./frescoes">
                    <div class="s-magazin__item-title">Интерьерные фрески</div>
                    <div class="s-magazin__item-border"></div>
                    <img src="../static/frescoes.png" alt="Интерьерные фрески" />
                </a>
            </div>

        </div>
    </div>
</section>