<section class="s-promo">
    <div class="wrapper">
        <div class="s-promo__center">
            <div class="s-promo__logo"><img src="../static/logo.png" alt="" /></div>
            <div class="s-promo__text">
                <header class="s-promo__header">
                    <h1 class="s-promo__title">Дизайн студия ARTКОМНАТА</h1>
                </header>
                <div class="s-promo__content">
                    <p>
                        Более 10 лет наша студия в Курске помагает клиентам воплотить дизайнерские решения в жизнь.
                        Мы верим, что дизайн — это не просто визуальная составляющая, а гармония пространства,
                        где каждый элемент играет свою роль. С нами вы ощутите, как легко можно реализовать
                        дизайнерские идеи и оформить ваш дом, офис или любое другое пространство так,
                        чтобы оно вдохновляло и радовало.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
