<section class="s-promo">
    <div class="wrapper">
        <div class="s-promo__center">
            <div class="s-promo__logo"><img src="../static/logo.png" alt="" /></div>
            <div class="s-promo__text">
                <header class="s-promo__header">
                    <h1 class="s-promo__title">ARTКОМНАТА</h1>
                </header>
                <br>
                <a href="#proekty" class="art-button-bright" title="Посмотреть проекты дизайн студии" >Дизайн студия</a>
                <br>
                <a href="#magazin" class="art-button-bright" title="Перейти в магазин">Магазин</a>
            </div>
        </div>
    </div>
</section>
