{% set site_url='/' %}
{% set pageTitle = 'Страницa не найденa' %}
{% set pageDescription='Страницa не найденa' %}


{% extends "./base.twig" %}

{% block content %}
<div class="gallery">
    <div class="wrapper">
        <h1>Страницa не найденa</h1>

        <p>
            {{ content }}
        </p>
    </div>
</div>
{% endblock %}
