<footer class="footer">
  <div class="wrapper">
    <div class="footer-main">

        <p>Адрес: г.&nbsp;Курск, ул.&nbsp;Димитрова,&nbsp;д.&nbsp;66</p>
        <p>Телефон: +7 (962) 379 7770</p>

      ©2024 <a href="/">ART Комната</a>
    </div>
  </div><!--/wrapper-->
</footer>
