<footer class="footer" id="o-nas">
  <div class="wrapper">
    <div class="footer-main">

      <h5>О нас</h5>

      <p>
        Более 10 лет наша студия в Курске помагает клиентам воплотить дизайнерские решения в жизнь.
        Мы верим, что дизайн — это не просто визуальная составляющая, а гармония пространства,
        где каждый элемент играет свою роль. С нами вы ощутите, как легко можно реализовать
        дизайнерские идеи и оформить ваш дом, офис или любое другое пространство так,
        чтобы оно вдохновляло и радовало.
      </p>

        <p>Адрес: г.&nbsp;Курск, ул.&nbsp;Димитрова,&nbsp;д.&nbsp;66</p>
        <p>Телефон: +7 (962) 379 7770</p>

      ©2024 <a href="/">ART Комната</a>
    </div>
  </div><!--/wrapper-->
</footer>
