<header class="header">
  <div class="wrapper">

    <a class="header-branding" href="/" title="На главную ARTКОМНАТА" aria-label="На главную страницу ARTКОМНАТА" rel="home">
      <svg width="43" height="60" viewBox="0 0 43 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24.116 28.6965H20.7373V32.0752H24.116V28.6965Z" fill="white"/>
        <path d="M32.5486 12.7497L30.1834 5.70897L27.7364 12.7497H32.5486ZM28.6065 0H26.6513H10.5262H0.00166594L26.6163 5.47394L28.6065 0ZM33.3104 28.0465C33.8171 27.5747 34.0721 26.9597 34.0721 26.1979C34.0721 25.4362 33.8171 24.8211 33.3104 24.3494C32.8036 23.8777 32.1419 23.6426 31.3251 23.6426H26.6513V28.7532H31.3268C32.1419 28.7532 32.8036 28.5165 33.3104 28.0465ZM31.5702 0L38.6393 19.3572H34.6972L33.5554 15.9318H26.678L26.6513 16.0084V20.2706H31.5718C33.4204 20.2706 34.9289 20.824 36.099 21.9291C37.2675 23.0342 37.8525 24.4577 37.8525 26.1979C37.8525 27.7748 37.3091 29.0799 36.2207 30.1133C35.7306 30.5851 35.0972 30.9751 34.3171 31.2818L38.6393 39.6277H34.2621L30.4834 31.9069H26.6513V40.6429H38.7826V44.0132H31.8435V59.9983H42.4097V0H31.5702ZM26.6513 54.5177L0 60H10.5245H26.6496H28.0615V44.0149H26.6496V54.5177H26.6513Z" fill="white"/>
      </svg>
      <div class="header-branding__title">ARTКОМНАТА</div>
    </a>


    <div class="mobile-wrap">

      <nav class="header-nav">
        <div class="main-menu-container">
          <ul id="main-menu" class="main-menu">
            <li class="menu-item"><a href="/#o-nas">О нас</a></li>
            <li class="menu-item"><a href="/#proekty" title="Дизайн студия в Курске">Проекты</a></li>
            <li class="menu-item"><a href="/#magazin" title="Магазин декоративных покрытий">Магазин</a></li>
            <li class="menu-item"><a href="/#kontakty">Контакты</a></li>
          </ul>
        </div>
      </nav>

      <div class="header-phone-address">
        <a href="tel:+79623797770">+7 (962) 379 7770</a>
        <span>г.&nbsp;Курск,&nbsp;ул.&nbsp;Димитрова,&nbsp;д.&nbsp;66</span>
      </div>


      <a class="header-social-vkontakte" target="_blank" rel="noopener, nofollow" href="https://vk.com/artkomnata46">
        <svg fill="#ffffff" width="32" height="32" viewBox="3 2 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.96 21.61c-6.84 0-10.74-4.68-10.9-12.48H8.5c.11 5.72 2.63 8.14 4.63 8.64V9.13h3.23v4.93c1.97-.21 4.05-2.46 4.75-4.94h3.22a9.53 9.53 0 0 1-4.38 6.23 9.87 9.87 0 0 1 5.13 6.26h-3.55c-.76-2.37-2.66-4.21-5.17-4.46v4.46h-.39Z" fill="#fff"></path>
        </svg>
      </a>

      <a class="header-social-whatsapp" target="_blank" rel="noopener, nofollow" href="https://wa.me/79623797770">
        <svg fill="#ffffff" width="25" height="25" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.576 5.363c-2.69-2.69-6.406-4.354-10.511-4.354-8.209 0-14.865 6.655-14.865 14.865 0 2.732 0.737 5.291 2.022 7.491l-0.038-0.070-2.109 7.702 7.879-2.067c2.051 1.139 4.498 1.809 7.102 1.809h0.006c8.209-0.003 14.862-6.659 14.862-14.868 0-4.103-1.662-7.817-4.349-10.507l0 0zM16.062 28.228h-0.005c-0 0-0.001 0-0.001 0-2.319 0-4.489-0.64-6.342-1.753l0.056 0.031-0.451-0.267-4.675 1.227 1.247-4.559-0.294-0.467c-1.185-1.862-1.889-4.131-1.889-6.565 0-6.822 5.531-12.353 12.353-12.353s12.353 5.531 12.353 12.353c0 6.822-5.53 12.353-12.353 12.353h-0zM22.838 18.977c-0.371-0.186-2.197-1.083-2.537-1.208-0.341-0.124-0.589-0.185-0.837 0.187-0.246 0.371-0.958 1.207-1.175 1.455-0.216 0.249-0.434 0.279-0.805 0.094-1.15-0.466-2.138-1.087-2.997-1.852l0.010 0.009c-0.799-0.74-1.484-1.587-2.037-2.521l-0.028-0.052c-0.216-0.371-0.023-0.572 0.162-0.757 0.167-0.166 0.372-0.434 0.557-0.65 0.146-0.179 0.271-0.384 0.366-0.604l0.006-0.017c0.043-0.087 0.068-0.188 0.068-0.296 0-0.131-0.037-0.253-0.101-0.357l0.002 0.003c-0.094-0.186-0.836-2.014-1.145-2.758-0.302-0.724-0.609-0.625-0.836-0.637-0.216-0.010-0.464-0.012-0.712-0.012-0.395 0.010-0.746 0.188-0.988 0.463l-0.001 0.002c-0.802 0.761-1.3 1.834-1.3 3.023 0 0.026 0 0.053 0.001 0.079l-0-0.004c0.131 1.467 0.681 2.784 1.527 3.857l-0.012-0.015c1.604 2.379 3.742 4.282 6.251 5.564l0.094 0.043c0.548 0.248 1.25 0.513 1.968 0.74l0.149 0.041c0.442 0.14 0.951 0.221 1.479 0.221 0.303 0 0.601-0.027 0.889-0.078l-0.031 0.004c1.069-0.223 1.956-0.868 2.497-1.749l0.009-0.017c0.165-0.366 0.261-0.793 0.261-1.242 0-0.185-0.016-0.366-0.047-0.542l0.003 0.019c-0.092-0.155-0.34-0.247-0.712-0.434z"></path>
        </svg>
      </a>

    </div>



    <div class="menu-toggle" >
      <button id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>



  </div>
</header>
