.footer{

  background: var(--footer-bg);
  flex: 0 1 auto;
  width: 100%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #eaeff5;
  color: var(--footer-text-color);
  position: relative;
  overflow: hidden;


  & a {
    color: rgba(255, 255, 255, 0.68);
    text-decoration: none;
  }

  & h5{
    color: rgba(255, 255, 255, 0.68);
    text-transform: uppercase;
    margin-bottom: 20rem;
  }
  @include devices(tablet){
    margin-top: 0;
  }

  &>.wrapper{
    padding: 80px 40px 40px 40px;
    display: flex;
    flex-direction: row;
    position: relative;
    @include devices(mobile){
      flex-direction: column-reverse;
    }
  }

  &-main{
    flex: 1 1 auto;
    text-align: center;
  }

  //&-aside{
  //  flex: 1 1 auto;
  //  max-width: 200px;
  //}


}
