.gallery{
  margin-top: 95px;

  &__list{
    column-count: 3;
    column-gap: 20rem;
  }

  &__item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30rem;
    &>a{
      flex: 0 1 auto;
      display: block;
    }

  }
}