.s-about{

  background: var(--footer-bg);
  color: #eeeeee;


  &>.wrapper{
    padding: 60px 180px 20px 180px;

    @include devices(tablet){
      padding: 60px var(--page-padding);
    }
  }


  &__header>h2{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
  }


  &__gramoty{
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
  }


  &__gramoty-item{
    flex: 0 1 31%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #cccccc;
    line-height: 1.2;

    @include devices(mobile){
      flex: 0 1 45%;
    }

  }
  &__gramoty-item>img{
    display: block;
    margin-bottom: 6px;
  }

  &__gramoty-item:hover{
    color: #ffffff;
  }

  &__content{
    display: flex;

    justify-content: space-between;
    flex-direction: row-reverse;

    @include devices(mobile){
      flex-direction: column-reverse;
    }

    &-left{
      flex: 0 1 30%;
      text-align: center;
      font-size: 14rem;
      margin-bottom: 30rem;

      & img{
        border-radius: 2rem;
        margin-bottom: 20rem;

        @include devices(mobile){
          margin: 20rem auto;
          width: 70%;
        }
      }

      & strong {
        text-transform: uppercase;
        display: block;
        margin-bottom: 8rem;
      }
    }

    &-right{
      flex: 0 1 65%;

      @include devices(mobile){
        text-align: center;
      }

    }
  }

}