.s-kontakty{

  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  background-color: #fff;
  color: #666;
  font-weight: 400;

  &> .wrapper{
    padding: 100px var(--page-padding) 100px var(--page-padding);
  }

  &__header > h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;


  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__map{
    flex: 0 0 64%;
    margin-bottom: 20rem;

    @include devices(mobile){
      flex: 0 1 100%;
    }

  }

  &__desc{
    flex: 0 0 34%;
    display: flex;
    align-items: start;


    @include devices(mobile){
      flex: 0 1 100%;
      flex-direction: column;
      align-items: center;
    }

    &>svg{
      margin-right: 16rem;
      margin-bottom: 20rem;
    }

    &>div{
      font-size: 18px;

      @include devices(mobile){
        text-align: center;
      }

      & h4{
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        margin-bottom: 20rem;
      }
    }
  }
}