.s-promo{

  height: calc(100vh );
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.5) 5%, rgba(2, 2, 2, 0.3) 55%), url("../static/promo-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;

  &>.wrapper{
   max-width: 960px;
    padding: 0 var(--page-padding);
  }

  &__center{
    flex: 0 0 auto;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__title{
    color: inherit;
  }

  &__logo{
    flex: 0 0 auto;
    margin-top: 30px;

    @include devices(mobile) {
      max-width: 150px;
    }
  }

  &__text{
    flex: 1 1 auto;
    margin-left: 20rem;
    height: 100%;
    //background: linear-gradient(90deg, rgba(0, 0, 0, 0.82) 0%, rgba(2, 2, 2, 0.3) 80%);
    padding: 20rem;


    & h1{
      letter-spacing: 24px;
      font-weight: 400;
      font-size: 48px;
      text-transform: uppercase;

      font-family: "Roboto Condensed", sans-serif;

      @include devices(mobile) {
        letter-spacing: 4rem;
        font-size: 28rem;
        margin-top: 20rem;
      }

    }
    @include devices(mobile) {
      margin: 0;
      padding: 10rem;
    }
  }



}