.visual_slide{
  padding: 20rem;
  height: 100%;
  &__title{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20rem;

  }

  &__wrapper{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__content{
    margin-top: -120rem;
    font-size: 20px;
    color: #fff;

    max-width: 640px;
    @include devices(mobile){
      font-size: 18px;
    }

    & h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 10rem;
      font-size: 20px;
    }

  }

  &__content-project{
    @include devices(mobile){
      line-height: 1.1;
      font-size: 16px;
    }
  }
}