.visual_slide{
  padding: 20rem;
  height: 100%;

  &__title{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20rem;

  }

  &__wrapper{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;

  }

  &__content{
    margin-top: -120rem;
    font-size: 20px;
    color: #fff;

    padding: 0 20%;

    @include devices(tablet){
      padding: 0 10%;
    }
    @include devices(mobile){
      font-size: 18px;
      padding: 0;
    }

    & h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 10rem;
      font-size: 20px;
    }

  }

  &__content-photo{
    font-size: 12px;
    margin: 0 auto;
    line-height: 1.2;

  }
  &__content-photo img{
    width: 160px;
    display: block;
    margin: 0 auto 6px;
  }
  &__content-about{
    @include devices(mobile){
      line-height: 1.2;
      font-size: 16px;
    }
  }

  &__content-project{
    @include devices(mobile){
      line-height: 1.2;
      font-size: 16px;
    }
  }
}

.pause{
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #007aff;
  font-size: 22px;
  cursor: pointer;
  z-index: 6;
}

#visualSwiper-container{
  background: linear-gradient(135deg, #2c2c32 0%, #556670 100%);
}